<section>
  <div class="flex-boxes">
    <a href="javascript:void(0)" class="flex-box flex-box-big">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
      <h1 class="flex-title">Leave us some Feedback</h1>
      <p>We love hearing from you.  Seriously please leave us a message.  I mean it's not like I want you to leave some feedback or anything I just think it'd be fun to&#8212oh you have other plans?  Oh w-well have fun! Maybe next time?</p>
    </a>
    <a href="javascript:void(0)" class="flex-box">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
      <h1 class="flex-title">What you came here for:</h1>
      <p>
        Email: feedback@freespearer.io <br>
        Phone: 555-555-5554 <br>
        Address: 123 Fake St. <br>
      </p>
    </a>
  </div>
</section>
