<responsive-nav>
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a ui-sref="home" href="" class="logo">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
      </a>
        <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
        <nav role="navigation">
            <ul id="js-navigation-menu" class="navigation-menu show">
              <li class="nav-link"><a href=""  ui-sref="home">freespearer</a></li>
              <li class="nav-link"><a href="" ui-sref="about-us">About Us</a></li>
              <li class="nav-link"><a href="" ui-sref="contact-us">Contact</a></li>
              <li class="nav-link"><a href="">Login</a></li>
              <li class="nav-link"><a href="">Sign-Up</a></li>
              <li class="nav-link"><a href="">Post a Project</a></li>
            </ul>
        </nav>
      <div class="navigation-tools">
        <div class="search-bar">
          <form role="search">
            <input type="search" placeholder="Enter Search" />
            <button type="submit">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
            </button>
          </form>
        </div>
      </div>
    </div>
  </header>
</responsive-nav>
