<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>Don't let your dreams be dreams</h1>
      <p>Yesterday, you said tomorrow</p>
    </div>
  </div>
</div>

<section>
  <ul class="bullets">
    <li class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="stylesheets/img/Idea-50.png" alt="" hover-ani>
      </div>
      <div class="bullet-content">
        <h2>Post Your Job</h2>
        <p>Describe what you need done and tell us your budget.</p>
        </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="stylesheets/img/Meeting-50.png" alt="" hover-ani>
      </div>
      <div class="bullet-content">
        <h2>Select a Bid</h2>
        <p>Receive competitive quotes and choose the right freelancer</p>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-3">
        <img src="stylesheets/img/Checkmark-50.png" alt="" hover-ani>
      </div>
      <div class="bullet-content">
        <h2>Job Done</h2>
        <p>The freelancer completes the work. You pay only when satisfied</p>
      </div>
    </li>
  </ul>
</section>


<!-- <div class="image-gradient-dynamic" id="big-image">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
  <div class="overlay"></div>
  <div class="copy">
    <section>
        <div class="hover-tile-outer" id="hover-image">
          <div class="hover-tile-container">
            <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>Hidden Copy</h4>
              <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet..</p>
            </div>
          </div>
        </div>
        <div class="hover-tile-outer" id="hover-image">
          <div class="hover-tile-container">
            <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>Hidden Copy</h4>
              <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet..</p>
            </div>
          </div>
        </div>
        <div class="hover-tile-outer" id="hover-image">
          <div class="hover-tile-container">
            <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>Hidden Copy</h4>
              <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet..</p>
            </div>
          </div>
        </div>
        <div class="hover-tile-outer" id="hover-image">
          <div class="hover-tile-container">
            <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>Spaghett!</h4>
              <p>You've been spooked!</p>
            </div>
          </div>
        </div>
        <div class="hover-tile-outer" id="hover-image">
          <div class="hover-tile-container">
            <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>Hidden Copy</h4>
              <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet..</p>
            </div>
          </div>
        </div>
        <div class="hover-tile-outer" id="hover-image">
          <div class="hover-tile-container">
            <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>Hidden Copy</h4>
              <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet..</p>
            </div>
          </div>
        </div>
        <div class="hover-tile-outer" id="hover-image">
          <div class="hover-tile-container">
            <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>Hidden Copy</h4>
              <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet..</p>
            </div>
          </div>
        </div>
        <div class="hover-tile-outer" id="hover-image">
          <div class="hover-tile-container">
            <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>Spaghett!</h4>
              <p>You've been spooked!</p>
            </div>
          </div>
        </div>
    </section>
  </div>
</div> -->


<section>
  <div class="cards">
    <div class="card">
      <div class="card-image">
        <img src="stylesheets/img/iphone.jpg" alt="">
        <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt=""> -->
      </div>
      <div class="card-header">
        Mobile App Design & Development
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>


    <div class="card">
      <div class="card-image">
        <img src="stylesheets/img/lighthouse.jpeg" alt="">
        <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt=""> -->
      </div>
      <div class="card-header">
        3D Renderings & Graphic Design
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="stylesheets/img/ceiling.jpg" alt="">
        <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt=""> -->
      </div>
      <div class="card-header">
        Product Design
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>
